
:root {
  --color-primary: #A2C5AA; 
  --color-secondary: #C4A7A7;
  --color-text: #4F4A4A;      
  --color-background: #F7F7F2;
  --color-borders: #E8E8E3;  


  --bs-primary: var(--color-primary);
  --bs-primary-rgb: 162, 197, 170;
  --bs-secondary: var(--color-secondary);
  --bs-secondary-rgb: 196, 167, 167;

  --bs-body-color: var(--color-text);
  --bs-body-bg: var(--color-background);
  --bs-font-family: 'system-ui', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  
  --bs-link-color-rgb: var(--bs-secondary-rgb);
  --bs-link-hover-color: var(--color-primary);
}


body {
  margin: 0;
  font-family: var(--bs-font-family);
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  line-height: 1.6;
}

a {
  color: var(--bs-secondary);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--bs-link-hover-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}


.card {
  border: 1px solid var(--color-borders);
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.btn-custom-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}

.btn-custom-primary:hover {
  background-color: #8AAE92; 
  border-color: #8AAE92;
  color: #fff;
}

.btn-outline-custom-primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-outline-custom-primary:hover {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}


.site-footer {
    background-color: #212529;
    color: white;
}


.custom-pagination .page-link {
    color: var(--color-text);
    border-color: var(--color-borders);
    box-shadow: none;
}

.custom-pagination .page-link:hover {
    color: var(--color-primary);
    background-color: #f8f9fa;
}

.custom-pagination .page-item.active .page-link {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
}

.custom-pagination .page-item.disabled .page-link {
    color: #ccc;
}